@font-face { font-family: JoystixMonospace; src: url(/src/fonts/joystix-monospace.ttf); }
@font-face { font-family: Manaspace; src: url(/src/fonts/manaspc.ttf); }

body {
  font-family: 'Manaspace', Fallback, sans-serif;
  font-size: 1.3em;
  color: white;
  background-color: #102031;
}

h1 {
  font-family: 'JoystixMonospace', Fallback, sans-serif;
}

h2 {
  color: #999;
}

.container {
  display: flex;
}

.box {
  border: 3px solid #fff;
  margin: 10px;
  padding: 30px;
}

.left {
  height: 95vh;
}